body
{
    background-image: url(../images/bandlogo.png);
    background-size: cover;
}

section
{
    width: 32.5%;
    margin-top: 1%;
}

.overview
{
    float: left;
    width: 47.5%;
    margin-right: .25%;
}

.pov
{
    float: right;
    width: 47.5%;
    margin-left: .25%;
}

#spirits
{
    background-image: url(../images/spiritsbanner.jpg);
    background-size: cover;
}

#heart
{
    margin-left: .8%;
    background-image: url(../images/heartbanner.jpg);
    background-size: cover;
}

#deco
{
    background-image: url(../images/decobanner.jpg);
    background-size: cover;
}