body
{
    background-image: url(../images/bandlogo.png);
    background-size: cover;
    background-position: center;
}

section
{
    width: 32.5%;
    margin-top: 1%;
}

.vid
{
    text-align: center;
}

#spirits
{
    background-image: url(../images/spiritsbanner.jpg);
    background-size: cover;
    background-position: center;
}

#heart
{
    margin-left: .8%;
    background-image: url(../images/heartbanner.jpg);
    background-size: cover;
    background-position: center;
}

#deco
{
    background-image: url(../images/decobanner.jpg);
    background-size: cover;
    background-position: center;
}