body
{
    background-image: url(../images/guardlogo.png);
    background-size: cover;
    background-position: center;
}

#jungle
{
    background-image: url(../images/junglebanner.png);
    background-size: cover;
    background-position: center;
}

#rodeo
{
    background-image: url(../images/rodeobanner.png);
    background-size: cover;
    background-position: center;
}