body
{
    font-family: Georgia, serif;
    background-color: rgb(10, 64, 43);
}

header/*, footer*/
{
    background-color: black;
    color: white;

    margin: -8px;
    padding: .5%;
}

nav
{
    font-size: 105%;
    text-align: center;
    padding: .25%;
}

section
{
    border: 3px solid white;
    border-radius: 10px;

    width: 49.25%;
    margin-top: 1%;
}

aside
{
    background-color: rgb(30, 192, 129);
    color: rgb(10, 64, 43);
    
    border: 3px solid black;
    border-radius: 7px;

    text-align: center;
    width: 75%;
    
    float: left;

    margin: 1.5% 12.5%;
    padding: .25% .75%;

    line-height: 75%;
}

div
{
    background: rgba(255, 255, 255, .2);
    
    border: 2px solid black;
    border-radius: 5px;

    margin: .75%;
    padding: .25%;
}

iframe
{
    margin: auto;
    padding: .25%;
}


a:link
{
    text-decoration: none;
    color: deepskyblue;
}

a:visited
{
    text-decoration: none;
    color: rgb(152, 53, 245);
}

a:hover
{
    text-decoration: underline 1px;
    font-weight: bold;
    font-style: italic;
}

a:active
{
    text-decoration: underline dotted 2px;
    font-weight: bold;
    font-style: italic;
    color: crimson;
}

h1
{
    font-size: 225%;
    text-align: center;
}

h2
{
    font-variant: small-caps;
    text-align: center;
    margin: 1%;
}

h3
{
    text-align: center;
    margin: 2%;
}

p:not(.disc)
{
    line-height: 0%;
}

/*img
{
    opacity: .3;
}*/


.left
{
    float: left;
}

.right
{
    float: right;
}

.vid
{
    text-align: center;
    width: 96.5%;
    float: left;
    margin: 1%;
    padding: .5%;
}

.show
{
    border: none;
    border-radius: 7px 7px 0px 0px;
    margin: 0;
}

.theme, .highlights
{
    background: none;
    border: none;
    margin: 0;
    padding: 0% 2.5%;
}

/*#band
{
    background-image: url(images/bandlogo.png);
    background-size: cover;
}

#guard
{
    background-image: url(images/guardlogo.png);
    background-size: cover;
}*/